	
   <div class="large-12 medium-12 small-12 columns" style="background: #00bd9c; position: relative; top:16px;text-align: center; padding: 10px 0 10px 0">
	   <div style="position: relative;">
		   <span class="section_offer">
		   			Stomatologia &middot
		   </span>
		  	<span class="section_offer">
		   			Protetyka &middot
		   </span>
		   <span class="section_offer">
		   			Ortodoncja
		   </span>

		</div>
		<div>
			<span class="section_offer">
		   		Wybielanie zębów &middot
		    </span>


		    <span class="section_offer">
		   		Implanty 
		    </span>

		</div>
	   </div>
	</div>
