	
   <div class="large-12 medium-12 small-12 columns" style="background: #00bd9c; position: relative; top:16px;text-align: center; padding: 10px 0 10px 0">
	   <div style="position: relative;">
		   <span class="section_offer">
			   <a href="stomatologia">Stomatologia &middot</a>
		   </span>
		  	<span class="section_offer">
				<a href="protetyka">Protetyka &middot</a>
		   </span>
		   <span class="section_offer">
			   <a href="ortodoncja">Ortodoncja</a>
		   </span>

		</div>
		<div>
			<span class="section_offer">
				<a href="wybielanie_zebow">Wybielanie zębów &middot</a>
		    </span>


		    <span class="section_offer">
				<a href="implanty">Implanty</a>
		    </span>

		</div>
	   </div>
	</div>
