<div class="row">
    <div class="contain-to-grid sticky">
        <nav class="top-bar fixed" data-topbar style="background: #00bd9c !important;text-align:center;">
            <ul class="title-area">
                <li class="name menu_item" style="border-left: none"><h1><a href="/index" style="font-weight: bold">Strona
                            główna</a></h1></li>
                <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
            </ul>
            <section class="top-bar-section" style="display: inline-block;">
                <ul style="background: #00bd9c !important" class="center">
                    <li><a href="/o_nas" id="menu_o_nas" class="menu_item">O nas</a></li>
                    <li><a href="/uslugi" id="menu_uslugi" class="menu_item">Usługi</a></li>
                    <li><a href="/cennik" id="menu_cennik" class="menu_item">Cennik</a></li>
                    <li><a href="/kontakt" id="menu_kontakt" class="menu_item">Kontakt</a></li>
                </ul>
            </section>
        </nav>
    </div>
    <div class="row" id="header_bottom">
        <div class="large-5 medium-5 small-5 columns logo"><h1><a href="#"><img
                            src="{{ asset('bundles/framework/images/logo_2.png') }}" alt="Brak zdjęcia"/></a></h1></div>
        <div class="large-6 medium-6 small-6 push-1 columns contact">
            <div class="row">
                <div class="large-2 medium-2 small-3 columns"><img
                            src="{{ asset('bundles/framework/images/logo_telefon.png') }}" alt="Brak zdjęcia"/></div>
                <div class="large-10 medium-10 small-9 columns">
                    <div class="contact_item" style="margin-bottom: 5%"> 501 560 084</div>
                    <div class="contact_item"> Gdynia Świętojańska 78/6</div>
                </div>
            </div>
        </div>
    </div>
</div>